<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <include th:replace="views/components/metas :: metas"></include>
    <include th:replace="views/components/styles :: styles"></include>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!--header  -->
    <include th:replace="views/components/header :: header"></include>

    <!--sidebar-->
    <include th:replace="views/components/sidebar :: sidebar"></include>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><a href="/addCustomer" class="btn btn-primary"> Add Customer</a></h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            </ol>
        </section>
        <!-- end Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">
                                Customer list
                            </h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body animate__bounce">
                            <table class="table table-bordered table-hover text-center">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Customer Name</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Date Encoded</th>
                                    <th>Photos</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                <div th:if="!${#lists.isEmpty(customers)}">
                                    <tr th:each="row : ${customers}">
                                        <td th:text="${row.id}"></td>
                                        <td th:text="${row.customerName}"></td>
                                        <td th:text="${row.contact}"></td>
                                        <td th:text="${row.address}"></td>
                                        <td th:text="${#dates.format(row.dateEncode, 'yyyy/MM/dd')}"></td>
                                        <td scope="row">
                                            <img alt="No pic" th:src="${row.photosImagePath}" style="width: 60px;height: 60px;">
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <a th:href="@{'/edit-customer/' + ${row.id}}" class="btn btn-success btn-sm">
                                                    <i class="fa fa-pencil-alt"></i>
                                                </a>


                                                <a th:href="@{'/delete-customer/' + ${row.id}}" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" id="deleteButton">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </div>
                                <div th:if="${#lists.isEmpty(customers)}">
                                    <tr>
                                        <td>No customers exists!</td>
                                    </tr>
                                </div>
                                </tbody>
                            </table>
                        </div>
                        <!--end box header-->
                    </div>
                </div>
            </div>

            <!-- delete modal -->
            <div class="modal animate__bounce" id="#deleteModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="../../../assets/dist/img/sent.png" alt="" width="50" height="46">
                            <h3>Are you sure want to delete this Record?</h3>
                            <div class="m-t-20">
                                <a href="#" class="btn btn-white" data-dismiss="modal"><i class="fa fa-times"></i> Close</a>
                                <a type="submit" class="btn btn-danger" id="delRef"><i class="fa fa-trash"></i> Delete</a>
                                <input type="hidden" name="id">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end pop up delete-->


        </section>
        <!-- end Main content -->

    </div>
    <!-- /.content-wrapper -->


</div>
<!--end Site wrapper -->
<include th:replace="views/components/scripts :: scripts"></include>
<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>

<!--delete modal-->
<!--delete modal-->
<script>
    /** Delete Modal **/
    $('document').ready(function(){

        /** Delete Modal **/
        $('.table #deleteButton').on('click',function(event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $('#deleteModal #delRef').attr('href', href);
            $('#deleteModal').modal();
        });

    });
</script>

</body>
</html>